<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Flask UI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <h1>Info About the Project</h1>
  <p>
    This Project is a toy app written in flask, js, html
  </p>
  <p>
    For source code, visit: <a href="https://github.com/ElaiShalevRH/aws-flask">Github Project</a>
  </p>

  <a href="{{ url_for('home') }}" class="back-link">Back to Home</a>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>